*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
  line-height: 25px;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* Header Style */

header{
  background-color: #011F44;
  padding: 20px 10px;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

header .a:hover{
  background-color: #0059BF;
  color: #FFFFFF;
  border-radius: 10px;
  padding:5px;
}

header .a.active-btn {
  background-color: #0059BF;
  color: white;
  border-radius: 10px;
  padding:5px;
}

.logo{
  margin-left: 50px;
  font-weight: bold;
}

.toggle-btn{
  font-size: 18px;
  cursor: pointer;
  color: white;
  display: none;
}

.links{
  margin-right: 50px;
}

.links ul li{
  display: inline-block;
  margin-left: 20px;
}

.dropdown-menu{
  display: none;
}

.dropdown-menu.open{
  display: block;
}

.dropdown-menu.open ul{
  position: fixed;
  width: 100%;
  background: #2c3e50;
  top: 60px;
  left: -0%;
  text-align: center;
  transition: all .5s;
  overflow: hidden;
}
.dropdown-menu.open ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* Image with overlay text*/
.img-overlay-text {
  position: relative;
  width: 100%;
  height: 80vh;
}

.content.open {
  margin-top: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  bottom: 50%; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white Bold;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.img-overlay-text:hover .overlay {
  opacity: 1;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* Side by side image and text */

.text-col1 {
  display: flex;
  width: 50%;
  padding: 0;
  height: 50vh;
}

  .image-col1 {
  display: flex;
  width: 50%;
  padding: 0;
  height: 50vh;
}

  .two-div{
  width: 80%;
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 130px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
  
  .two-div:after {
    content: "";
    display: table;
    clear: both;
  }

  .image-col1 .image1 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-image-col1{
    width: 93%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 120px;
    padding: 0;
    color: #011F44;
    font-size: 24px;
    text-align: justify;
  }

  .text-image-col1 p{
    margin-top: 20px;
  }

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* Set footer styles */

footer {
  background-color: #011F44;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}

footer .footer-pages-links{
  width: 100%;
  color: white;
  margin-top: 40px;
}

footer .footer-pages-links .a{
  color: white;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  padding: 6px;
}

footer .footer-pages-links .a:hover{
  background-color: #0059BF;
  color: #FFFFFF;
}

.footer-copyright{
  width: 100%;
  color: white;
  margin-top:40px;
}

.footer-social-media{
  width: 100%;
  color: white;
  margin-top:40px;
}

.footer-social-media .a{
  color : white;
  text-decoration: none;
  font-size: 18px;
  padding: 6px;
}

.footer-social-media .a:hover{
  background-color: #0059BF;
  color: #FFFFFF;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.orders-form{
  width: 80%;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #FFFFFF;
  color: #011F44;
}

.input-row{
width: 98%;
margin-top: 20px;
height: 50px;
padding: 20px;
}

.submit-row{
width: 98%;
margin-top: 20px;
height: 50px;
padding: 20px;
}
.submit-row .order-btn{
height: 5vh;
width: 10%;
background-color: #011F44;
color: #FFFFFF;
}

.submit-row .order-btn:hover{
background-color: #0059BF;
color: #FFFFFF;
}

.orders-form label{
  width : 20%;
  float: left;
  font-size: 25px;
}
.orders-form .input{
  width : 70%;
  float: right;
  height: 30px;
}

.orders-form .form-title{
  width: 97%;
  text-align: center;
  background-color: #011F44;
  height: 80px;
  padding: 20px;
}

.orders-form .form-title h2{
color: white;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* Responsive Style */

@media screen and (max-width: 950px) {

  header a{
    font-size: 20px;
  }
  
  .logo{
    margin-left: 20px;
  }

  .links{
    display: none;
  }

  .toggle-btn{
    display: flex;
    margin-right: 20px;
  }

  .img-overlay-text {
    height: 40vh;
  }

  .overlay {
    font-size: 20px;
  }

  .text-col1 {
    height: auto;
    width: 100%;
  }
  
  .image-col1 {
    margin-top: 20px;
    width: 100%;
    height: 40vh;
  }

  .text-image-col1{
    font-size: 18px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .two-div{
    width: 80%;
    margin-left: 40px;
    flex-direction: column;
  }

  .orders-form{
    margin-left: 40px;
    margin-top: 100px;
  }

  .orders-form label{
    font-size: 18px;
    width : 40%;
  }

  .orders-form .input{
    width : 50%;
    float: right;
  }

  .submit-row .order-btn{
    height: 5vh;
    width: 30%;
  }

  .footer-copyright{
    width: 100%;
  }
  
  .footer-social-media{
    width: 100%;
  }

  footer .footer-pages-links{
    width: 100%;
  }

  .footer-social-media a{
    font-size: 18px;
  }

  .footer-social-media a{
    margin-left: 0;
  }

  footer .footer-pages-links a{
    margin-left: 0;
  }

}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */